.fondoP {
    max-height: 1841px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
     }


.headerP{
    background-color: #EDAEE1;
    height: 90px;
}
.logoP{
    height:100px;
    width: 160px;
    margin: 0;
   
    }
.pestañinaIcon{
    height: 70px;
    width: 80px;

}
.pestañinaBtn{
    background-color: transparent;
    border: 0;
    position: relative;
    top: -20px;
    left: 390px;
}
.tituloP{
    position: relative;
    left: 630px;
    top: -100px;
    font-family: "Architects Daughter";
} 
.plano{
    height: 200px;
    width: 500px;
    position: relative;
    left: 120px;
    top: 40px;
}
.tituloPlano{
    position: relative;
    left: 260px;
    top: 40px;
    font-family: "Architects Daughter";
}
.rigido{
    height: 200px;
    width: 500px;
    position: relative;
    left: 744px;
    top: -329px;
}
.tituloRigido{
    position: relative;
    left: 872px;
    top: -329px;
    font-family: "Architects Daughter";
}
.contenidoPlano{
    max-width: 390px;
    position: relative;
    left: 170px;
    top: 30px;
}
.contenidoRigido{
    max-width: 480px;
    position: relative;
    left: 750px;
    top: -341px;
}

.recto{
    height: 200px;
    width: 500px;
    position: relative;
    left: 118px;
    top: -319px;
    font-family: "Architects Daughter";
}

.tituloRecto{
    position: relative;
    left: 261px;
    top: -329px;
    font-family: "Architects Daughter";
}

.contenidoRecto{
    max-width: 480px;
    position: relative;
    left: 131px;
    top: -318px;
}

.conico{
    height: 200px;
    width: 500px;
    position: relative;
    left: 742px;
    top: -690px;
    font-family: "Architects Daughter";
}

.tituloConico{
    position: relative;
    left: 891px;
    top: -698px;
    font-family: "Architects Daughter";
}

.contenidoConico{
    max-width: 480px;
    position: relative;
    left: 755px;
    top: -687px;
}
.helicoidal{
    height: 200px;
    width: 500px;
    position: relative;
    left: 742px;
    top: -690px;
    font-family: "Architects Daughter";
}

.tituloHelicoidal{
    position: relative;
    left: 891px;
    top: -690px;
    font-family: "Architects Daughter";
}

.contenidoHelicoidal{
    max-width: 480px;
    position: relative;
    top: -663px;
    left: 760px;
}
.curvo{
    height: 200px;
    width: 500px;
    position: relative;
    left: 117px;
    top: -1079px;
    font-family: "Architects Daughter";
}

.tituloCurvo{
    position: relative;
    left: 261px;
    top: -1078px;
    font-family: "Architects Daughter";
}

.contenidoCurvo{
    max-width: 480px;
    position: relative;
    top: -1056px;
    left: 126px;
}
.tupido{
    height: 200px;
    width: 500px;
    position: relative;
    left: 117px;
    top: -1049px;
    font-family: "Architects Daughter";
}

.tituloTupido{
    position: relative;
    left: 261px;
    top: -1048px;
    font-family: "Architects Daughter";
}

.contenidoTupido{
    max-width: 480px;
    position: relative;
    top: -1036px;
    left: 126px;
}
.cerdas{
    height: 200px;
    width: 500px;
    position: relative;
    left: 742px;
    top: -1400px;
    font-family: "Architects Daughter";
}

.tituloCerdas{
    position: relative;
    left: 828px;
    top: -1395px;
    font-family: "Architects Daughter";
}

.contenidoCerdas{
    max-width: 480px;
    position: relative;
    top: -1388px;
    left: 760px;
}
.btnAtras{
    position: relative;
    left: 20px;
    top: 60px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.imgFlechaAtras{
    height: 40px;
    width: 40px;
}